p{
	font-family: "Trebuchet MS";
	font-size: 4.5vW;
	color: black;
	line-height: 1.4;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 5%;
	padding-right: 5%;
}

.intro-para1{
	padding-top: 5%;
}
