p{
	color: black;
	line-height: 1.4;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 5%;
	padding-right: 5%;
}

.intro{
	text-align: center;
	width: 100%;
}

.intro-para1{
	padding-top: 3%;
	font-size: 7.5vw;
	font-family: 'Josefin Sans', sans-serif;
}

.intro-para2{
	font-size: 5.2vw;
	font-family: 'Josefin Sans', sans-serif;
}

.line_divider{ 
    display:block;
    border:none;
    color:white;
    height:2px;
    background:black;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 85%);
}

.navbar{
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}